<h1>Posts#index</h1>
<%= link_to("Create new post", new_post_path) %>

<ul>
  <%= @posts.each do |p| %>
    <li>
      <%= link_to(p.title, post_path(p.id)) %><br>
      <%= image_tag p.gif %><br>
      <p>Loves: <%= p.votes %></p>
    </li>
  <% end %>
</ul>
