<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<%= form_for @post do |p| %>
  <%= p.label :title %>
  <%= p.text_field :title %>
  <br>
  <%= p.label :gif %>
  <%= p.text_field :gif %>
  <br>
  <%= p.label :votes %>
  <%= p.text_field :votes %>
  <br>
  <%= p.submit "Create new post" %>
<% end %>
